/* Body */
body {
    background-color: var(--almond);
    color: var(--coffee);
    font-family: 'Ranade', sans-serif;
    font-size: 25px;
    user-select: none;
    -webkit-user-drag: none;
    transition: color 0.5s ease, background-color 0.5s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    min-height: 100vh;
}

h1 {
    font-family: 'Excon', sans-serif;
    font-size: 100px;
}

h2 {
    font-family: 'Excon', sans-serif;
    font-size: 36px;
}

img {
    cursor: grabbing;
}

img:active {cursor: grab;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Hero */
.headshot {
    width: 200px;
    height: 200px;
    border: 1px dashed #000;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.social-button {
    aspect-ratio: 1;
    width: 50px;
    display: inline-block;
}
/* Projects */

.project-list {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;
}
.project-item {
    list-style: none;
    padding: 10px;
    width: 600px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}

.project-item > img {
    aspect-ratio: 1;
    width: 250px;
}

.project-list > div > p {
    color: white;
}

.project-button {
    margin-top: 10px;
}

[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

[data-animated="true"] .project-list {
    width: fit-content;
    flex-wrap: nowrap;
    animation: scroll 5s linear infinite;
}

[data-animated="true"]:hover .project-list {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translate(-50%);
    }
}

/* About */

/* Contact */

/* Media Queries */
@media screen and (max-width: 768px) {
    
    #projects, #about {
        padding-top: 25%;
    }
    
    #hero, #contact {
        padding-top: 50%;
    }

    h1 {
        font-family: 'Excon', sans-serif;
        font-size: 50px;
    }
    
    h2 {
        font-family: 'Excon', sans-serif;
        font-size: 20px;
    }
    
    p {
        font-size: 18px;
    }
    
    .headshot {
        width: 175px;
        height: 175px;
        border: 1px dashed #000;
        border-radius: 50%;
        padding: 0;
        margin: 0;
    }

    .accordion-button {
        font-size: 18px;
    }
    
    .accordion-body {
        font-size: 18px;
    }
    
    .accordion {
        margin-bottom: 25%;
    }
}
/* Small animations */
@media (prefers-reduced-motion: no-preference) {
    .container > * {
        opacity: 0;
        animation: fadeIn linear forwards;
        animation-delay: 1s;
        animation-timeline: view();
        animation-range: entry 20%;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
}