/* Body */
body {
    height: 300vh;
    background-color: var(--almond);
    color: var(--coffee);
    font-family: 'Ranade', sans-serif;
    font-size: 25px;
    user-select: none;
    -webkit-user-drag: none;
}

h1 {
    font-family: 'Excon', sans-serif;
    font-size: 100px;
}

h2 {
    font-family: 'Excon', sans-serif;
    font-size: 36px;
}

/* Hero */
#hero {
    background-color: var(--almond);
    color: var(--coffee);
    padding-top: 10%;
}

.headshot {
    width: 175px;
    height: 175px;
    border: 1px dashed #000;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

/* Projects */
#projects {
    background-color: var(--tan);
    color: var(--chamoisee);
    height: 95vh;
}
.accordion-button {
    font-size: 30px;
}

/* About */
#about {
    background-color: var(--coffee);
    color: var(--almond);
    padding-top: 25%;
}

/* Contact */
#contact {
    background-color: var(--raw-umber);
    color: var(--almond);
    height: 100vh;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #hero, #projects, #about, #contact {
        height: 95vh;
    }
    
    #projects, #about {
        padding-top: 25%;
    }
    
    #hero, #contact {
        padding-top: 50%;
    }

    h1 {
        font-family: 'Excon', sans-serif;
        font-size: 50px;
    }
    
    h2 {
        font-family: 'Excon', sans-serif;
        font-size: 20px;
    }
    
    p {
        font-size: 18px;
    }
    
    .headshot {
        width: 175px;
        height: 175px;
        border: 1px dashed #000;
        border-radius: 50%;
        padding: 0;
        margin: 0;
    }

    .accordion-button {
        font-size: 18px;
    }
    
    .accordion-body {
        font-size: 18px;
    }
    
    .accordion {
        margin-bottom: 25%;
    }
}